body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #147526;
}

h1 {
  text-align: center;
  color: #62ed0c;
  margin-top: 20px;
}

h2 {
  text-align: center;
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
}

.welcome-heading {
  font-size: 50px;
  color: #62ed0c; 
  font-weight: bold;
}

h3 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.home {
  color: white;
  text-indent: 0; 
  font-size: 25px;
  line-height: 1.6; 
}

.W{
  font-size: 45px;
  color: #62ed0c;
}

.about-info{
  font-size: 50px;
  color: white;
}

ul {
  list-style-position: inside; 
  text-align: center; 
  margin: 0 auto; 
  display: inline-block; 
}

ul li {
  font-size: 20px;
  text-align: left; 
}
a:visited {
  color: #ADD8E6;
}

.header {
  background-color: #44800f; 
  color: white;
  padding: 20px;
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}

.navlogo {
  height: 35px; 
  width: 40px;
  margin-right: 10px; 
  border-radius: 5px; 
  vertical-align: middle;
}

.brand {
  display: flex;
  align-items: center;
}

.brand img {
  height: 20px; 
  margin-right: 10px; 
}

.header a {
  color: white;
  text-decoration: none;
  padding: 10px 15px; 
  font-size: 1.2em; 
  margin: 0 5px; 
  border-radius: 5px; 
}

.header a:hover {
  color: black;
  background-color: #8FBC8F; 
  border-radius: 5px;
}

.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  gap: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 20px;
  padding: 20px;
}

.product-entry {
  flex-basis: 23%;  
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  box-sizing: border-box;  
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 220px;
  height: 550px; 
  flex-shrink: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: green;
}

.center-container {
  display: flex;
  justify-content: center; 
  align-items: center; 

}

button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, transform 0.2s; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

button:hover {
  background-color: darkgreen;
  transform: scale(1.05); 
}

button:active {
  transform: scale(1); 
}

.logo-container {
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-left: 20px; 
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

nav a:hover {
  text-decoration: underline;
}

.nav-container {
  margin-left: auto;
}

@media (max-width: 768px) {
  .products-container {
      justify-content: flex-start; 
  }

  .card {
      width: 100%;  
  }
}

.box-element {
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

.cart-row {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}
