<div class="navbar">
    <!-- Brand on the left side -->
    <div class="brand">
        <a href="{% url 'home' %}">TECH FROG</a>
    </div>

    <!-- Search bar in the middle -->
    <div class="search-bar">
        <form>
            <input type="text" name="q" placeholder="Search gadgets..." class="search-input" required>
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>

    <!-- Links on the right side -->
    <div class="nav-links">
        <a href="{% url 'product-list' %}">Product List</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'products' %}">Products</a>
        <a href="{% url 'home' %}">Home</a>

    </div>
</div>
