{% extends 'app/base.html' %}

{% block content %}
<h1>Order Items List</h1>
<center>
<div>
<a href="{% url 'order-item-create' %}" style="display: inline-block; padding: 8px 12px; background-color: blue; color: white; text-decoration: none; border-radius: 5px;">
  Add Order Item
</a>
<a href="{% url 'admin_dashboard' %}" style="display: inline-block; padding: 8px 12px; background-color: blue; color: white; text-decoration: none; border-radius: 5px;">
  Back to Admin Dashboard
</a>
</div>
<br>
<ul>
    {% for item in order_items %}
      <li>
        Order #{{ item.order.id }} - Product: {{ item.product.name }} - Quantity: {{ item.quantity }} - Price: {{ item.price }}
        | <a href="{% url 'order-item-view' item.pk %}">View</a>
        | <a href="{% url 'order-item-update' item.pk %}">Edit</a>
        | <a href="{% url 'order-item-delete' item.pk %}">Delete</a>
      </li>
    {% endfor %}
</ul>

{% endblock %}
