{% extends 'app/base.html' %}
{% block title%}Admin-Product{%endblock%}
{% block content %}
    <h1>Product List</h1>
    <br>
    <center>
    <div>
        <a href="{% url 'product-create' %}" style="display: inline-block; padding: 8px 12px; background-color: blue; color: white; text-decoration: none; border-radius: 5px;">
          Add Product
        </a>
        <a href="{% url 'admin_dashboard' %}" style="display: inline-block; padding: 8px 12px; background-color: blue; color: white; text-decoration: none; border-radius: 5px;">
          Back to Admin Dashboard
        </a>
        </div>
        <br>

    <ul>
        
        {% for product in products %}
            <li>
                <a href="{% url 'product-detail' product.pk %}">{{ product.name }}</a> - 
                <a href="{% url 'product-update' product.pk %}">Edit</a> | 
                <a href="{% url 'product-delete' product.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    
{% endblock %}
